<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>demo</title>
</head>
<body>
	<div>ユーザー登録</div>
	<form method="post" th:action="@{/create/complete}">
		ユーザーID:<input type="text" name="userId" />
		<p>
		　名　字　:<input type="text" name="familyName" />
		<p>
		　名　前　:<input type="text" name="firstName" />
		<p>
		パスワード:<input type="text" name="password" />
		<p>
		<input type="submit" value="　　登　録　　" />
	</form>
	<form method="get" action="/demo/index">
		<input type="submit" value="　　戻　る　　" />
	</form>
</body>
</html>